# Nacos配置
nacos:
  default: # Nacos ID
    url: http://localhost:8848
    username: nacos
    password: nacos

# 数据库配置
database:
  local: # Database ID
    url: localhost
    port: 3306
    username: root
    password: "1234"
    dialect: mysql

# 日志配置
logging:
  level: INFO
  format: "[%(asctime)s] %(levelname)s %(name)s %(message)s"
