# 日志配置
logging:
  level: INFO
  format: "[%(asctime)s] %(levelname)s %(name)s %(message)s"

# Nacos配置
nacos:
  default: # Nacos ID
    url: http://localhost:8848
    username: nacos
    password: nacos
    # 使用了三方平台管理密码
    # secretmanager:
    #  aws:
    #      # 使用哪个 aws config profile访问aws-secretmanager
    #      profile: default
    #      # 密钥名称
    #      secretid: secret_name

# 数据库配置
database:
  local: # Database ID
    url: localhost
    port: 3306
    username: root
    password: "1234"
    dialect: mysql
    # liquibase的数据库变更日志表放入哪个schmea中，默认为liquibase
    changelogschema: liquibase
    # 使用了三方平台管理密码
    # secretmanager:
    #  aws:
    #      # 使用哪个 aws profile访问aws-secretsmanager，不填默认default
    #      profile: "default"
    #      # 密钥ID
    #      secretid: "secret_id"

# aws 配置
aws:
  # aws credentials 文件位置，不配置默认 ~/.aws/credentials
  credentials: ~/.aws/credentials
  # aws config文件位置，不配置默认 ~/.aws/config
  config: ~/.aws/config
  # 或者直接使用access_key+secret_key+region
  access_key: "ak"
  secret_key: "sk"
  region: "us-east-2"

# 应用配置
config:
  database-uri: sqlite:///configops.db
  # 手动指定java-home目录，java版本必须在11及以上
  java-home-dir: 
  # Liquibase 运行配置文件
  liquibase:
    # 配置文件
    defaults-file: 
    # 用户提供的 jdbc 驱动目录
    jdbc-drivers-dir: jdbc-drivers