blinker==1.8.2
click==8.1.7
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
nacos-sdk-python==1.0.0
Werkzeug==3.0.3
configobj==5.0.8
ruamel.yaml==0.18.6 
ruamel.yaml.clib==0.2.8
pytest
pytest-cov
pytest-mock